body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #ff9500;
    color: #fff;
    height:10vh;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.452);
    width: 300px;
    margin-top: 20px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.display input {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    width: 100%;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #f9f9f9;
    border: none;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 0.3s, box-shadow 0.3s;
    -moz-transition: background-color 0.3s, box-shadow 0.3s;
    -ms-transition: background-color 0.3s, box-shadow 0.3s;
    -o-transition: background-color 0.3s, box-shadow 0.3s;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #e0e0e0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: #d0d0d0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:nth-child(4n) {
    background-color: #ff9500;
    color: #fff;
}

.btn:nth-child(4n):hover {
    background-color: #e08900;
}

.btn:nth-child(4n):active {
    background-color: #c07800;
}

.btn:nth-last-child(1) {
    background-color: #ff3b30;
    color: #fff;
}

.btn:nth-last-child(1):hover {
    background-color: #e03228;
}

.btn:nth-last-child(1):active {
    background-color: #c02a20;
}